.artigos {
  margin-top: 8px;
  margin-left: 9.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  flex-direction: row-reverse;
}

.cards {
  width: 39.5rem;
  height: auto;
  flex-grow: 1;
}


.img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.dimensões_imagem {
  width: 4rem;
  height: 4rem;
}

.descrição_card {
  display: flex;
  gap: 1.2rem;
  margin-top: 8px;
  color: #f1f1f1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.sobre_o_canal {
  margin-top: 8px;
  color: #adaca9;
  line-height: 20px;
}