.barra_diagonal {
  margin-top: 6px;
  display: none;
  color: aliceblue;
  height: 5.6rem;
  align-items: center;
  margin-left: 2.4rem;
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  background-color: #0f0f0f;
  width: auto;
  height: 56px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;

}

.cont1 {
  width: 5.6rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: #f1f1f1;
  color: #0f0f0f;
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont1 :hover {
  cursor: pointer;
}

.cont2 {
  width: 6.3rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont2:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont3 {
  width: 6.9rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont3:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont4 {
  width: 6.8rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont4:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont5 {
  width: 11rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont5:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont6 {
  width: 9.1rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont6:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont7 {
  width: 9.8rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont7:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont8 {
  width: 6.8rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont8:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont9 {
  width: 5.8rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont9:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont10 {
  width: 6.9rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont10:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont11 {
  width: 13.3rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont11:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont12 {
  width: 16.8rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont12:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont13 {
  width: 5rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont13:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont14 {
  width: 6.7rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont14:hover {
  background-color: #6a6969;
  cursor: pointer;
}

.cont15 {
  width: 15.5rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 12px 12px 12px 0px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont15:hover {
  background-color: #6a6969;
  cursor: pointer;
}



.cont16 {
  display: flex;
  align-items: center;
  cursor: pointer;
}